body {
  font-family: system-ui;
}
.Main {
  background-color: rgb(245, 240, 240);
  height: 400px;
}
.Content {
  width: 860px;

  margin-bottom: 40px;

  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 120px;
}
.Star {
  display: inline-block;
  padding: 10px;
}

.Active {
  color: gold;
  cursor: pointer;
}
.Inactive {
  color: white;
}
