body {
  font-family: system-ui;
}
.Mybutton {
  padding: 100px;
}
.Mybutton button {
  background-color: black;
  color: white;

  padding: 20px;
  margin: 10px;

  border: 1px solid;
  border-color: white;
  letter-spacing: 2px;

  font-size: 15px;

  cursor: pointer;
}
.Mybutton button:hover {
  background-color: white;
  color: black;
}
.Content {
  padding: 80px;

  font-size: 20px;
  letter-spacing: 2px;
}
